# Visualise duplicates

In [1]:
import pandas as pd
df = pd.read_csv('ams.csv', header=None)
df

,0,1
0,$K$-Monographs in Mathematics,$K$-Monogr. Math.
1,$K$-Theory,$K$-Theory
2,50th Anniversary Cracow University of Technology,50th Anniv. Cracow Univ. Technol. Anniv. Issue
3,ACM Distinguished Theses,ACM Disting. Theses
4,Association for Computing Machinery,ACM Trans. Math. Software
...,...,...
2326,Theory of Probability \& Its Applications,Theory Probab. Appl.
2327,ESAIM: Probability and Statistics,ESAIM Probab. Stat.
2328,"Sankhy{\=a}: The Indian Journal of Statistics,...",Sankhya A
2329,Statistics \& Probability Letters,Statist. Probab. Lett
2330,IEEE transactions on information theory,IEEE Trans. Inf. Theory

In [2]:
df[0][df[0].str.lower().duplicated()]

Series([], Name: 0, dtype: object)